textarea{
    line-height: 1.5;
}
select{
    background-color: #f9fafa;
    border-color: #d4d9dd;
    border-radius: 3px;
}
.center{
    text-align: center;
}
.column{
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.border{
    background-color: #f9fafa;
    border-color: #40484a;
    box-shadow: 1 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top:30px;
    padding-bottom: 30px;
}
.input{
    border-color: #d4d9dd;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.label{
    caret-color: #40484a;
}